name: Notify Telegram

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  Telegram_Notification:
    runs-on: ubuntu-latest
    # env:
    #   TIME: echo "$(TZ='Asia/Kolkata' date +"%Y-%m-%d %I:%M %p IST")"
    steps:
      - name: Get timestamp
        run: echo "TIME=$(TZ='Asia/Kolkata' date +'%Y-%m-%d %I:%M %p IST')" >> $GITHUB_OUTPUT

      - name: Send Telegram Notification
        uses: appleboy/telegram-action@master

        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}

          message: |
            ${{ github.actor }} created a commit:
            Commit: ${{ github.event.head_commit.message }}
            Repository: ${{ github.repository }}
            Branch: ${{ github.ref_name }}
            Timedate: ${{env.TIME}}
            Commit ID: ${{ github.sha }}
            Status: ${{ job.status }}
