name: Notify Telegram

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  Telegram_Notification:
    runs-on: ubuntu-latest
    steps:
      - name: Get timestamp (Asia/Kolkata)
        id: get_time
        run: |
          echo "time=$(TZ='Asia/Kolkata' date +\"%Y-%m-%d %I:%M %p %Z\")" >> $GITHUB_OUTPUT

      - name: Send Telegram Notification
        uses: appleboy/telegram-action@master

        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}

          message: |
            ${{ github.actor }} created a commit:
            Commit: ${{ github.event.head_commit.message }}
            Repository: ${{ github.repository }}
            Branch: ${{ github.ref_name }}
            Timedate: ${{ steps.get_time.outputs.time }}
            Commit ID: ${{ github.sha }}
            Status: ${{ job.status }}
