name: Notify Telegram

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  TelegramNotification:
    runs-on: ubuntu-latest
    steps:
    - name: Send Telegram Notification
      uses: appleboy/telegram-action@master
      with:
        to: ${{ secrets.TELEGRAM_TO }}
        token: ${{ secrets.TELEGRAM_TOKEN }}
        message: |
          ${{ github.actor }} created a commit:
          Commit: ${{ github.event.head_commit.message }}
          Repository: ${{ github.repository }}
          Status: ${{ job.status }}
